<!DOCTYPE html>
{% extends 'test_inner_temp/base.html' %}
    {% block body_block %}
    <div class="tab_accrec">
        {% if webpages %}
            <table>
                <thead>
                    <th>Company Name</th>
                    <th>Website</th>
                </thead>
                {% for i in webpages %}
                    <tr>
                        <td><a href="{{ i.id }}">{{ i.col_webpage2 }}</a></td>
                        <td>{{ i.col_webpage3 }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There is no record found!</p>
        {% endif %}
    </div>
    {% endblock body_block %}