<!DOCTYPE html>
{% extends 'test_inner_temp/base.html' %}
    {% block body_block %}
    <h2 style="text-align: center;">SIGN UP PAGE!</h2>
    <div class="container">
        <form method="POST">
            {{ form.as_p }} <!-- .as_p means reserve all attributes as p tag format in HTML -->
            {% csrf_token %} <!-- this is required becasue Django will raise the error if we dont pass csrf_token -->
            <input type="submit" class="btn btn-primary" value="submit">
        </form>
    </div>
    {% endblock body_block %}